<configuration>
  <system.webServer>

    <!-- indicates that the helloworld.js file is a node.js application 
    to be handled by the iisnode module -->

    <handlers>
      <add name="iisnode" path="feelLucky.js" verb="*" modules="iisnode" />
    </handlers>
  
    <iisnode loggingEnabled="true" watchedFiles="web.config;*.js" devErrorsEnabled="true" />
    
  </system.webServer>
</configuration>
